html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    //script(src='/js/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    //script(src='/js/socket.io.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
    script(src='/js/socketio.js')
  body
    block content
