@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700&subset=latin,latin-ext);

body {
  font-family: 'Open Sans', 'Trebuchet MS', Helvetica, Verdana, sans-serif;
}

textarea, input[type="text"], pre, code {
  font-family: 'Source Code Pro', Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
